[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = "2.9.2"
scikit-learn = "1.0.1"
pandas = "==1.3.5"
tqdm = "*"
joblib = "1.1.0"
bentoml = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
